<h1>Expenses#index</h1>
<ul>
  <% @expense_statements.each do |expense_statement| %>
    <h3>ExpenseStatement</h3>
    <li>id: <%= expense_statement.id %></li>
    <li>作成日: <%= link_to expense_statement.created_at, expense_path(expense_statement.id) %></li>
    <% if expense_statement.applied %>
      <% if expense_statement.approved.nil? %>
        <li>状態: 承認待ち</li>
      <% elsif expense_statement.approved %>
        <li>状態: 承認済み</li>
      <% else %>
        <li>状態: 却下済み</li>
      <% end %>
    <% else %>
      <li>状態: 下書き</li>
    <% end %>
    <% expense_approval = expense_statement.expense_approval %>
    <% if expense_approval.present? %>
      <li>承認者コメント: <%= expense_approval.comment %></li>
    <% end %>
  <% end %>
</ul>
